h1 {
color: #4d001d;
font-size:200%;
text-align: center;
}


 
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
} 
body{
	background-image: url("../picture/photo_2023-01-25_10-47-12.jpg");
	background-size: cover;
}

